<section class="vh-100" style="background-color: #BA181B;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem; max-width: 700px; margin: auto;">
          <div class="row g-0">
            <div class="col-12 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <h2 class="mb-4" *ngIf="!activationMessage">Menverifikasi Akun...</h2>
                <h2 class="mb-4" *ngIf="activationMessage.includes('berhasil')">Akun Anda telah teraktivasi!</h2>
                <h2 class="mb-4" *ngIf="activationMessage.includes('Gagal')">Terjadi Kesalahan!</h2>
                <p *ngIf="activationMessage.includes('berhasil')">Terima kasih telah mendaftar. Silakan klik tombol di bawah ini untuk login akun Anda.</p>
                <p *ngIf="activationMessage.includes('Gagal')">Terjadi kesalahan saat mengaktifkan akun Anda. Pastikan token yang Anda gunakan valid.</p>
                <p *ngIf="activationMessage.includes('Gagal')">Silakan klik tombol di bawah untuk mengirim ulang email verifikasi.</p>
                
                <a *ngIf="activationMessage.includes('berhasil')" href="http://localhost:5000/login" class="btn btn-custom-red">Login</a>
                
                <button *ngIf="activationMessage.includes('Gagal')" (click)="resendVerificationEmail()" class="btn btn-custom-red">Kirim Ulang Email Verifikasi</button>

                <p *ngIf="activationMessage" class="mt-4">{{ activationMessage }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
