<div class="container mt-4">
  <div class="d-flex justify-content-between mb-3">
    <h2>Daftar Akun</h2>
    <div>
      <button class="btn btn-primary-custom me-2" (click)="addAdmin()">Add Admin</button>
      <button class="btn btn-success" (click)="exportToExcel()">Download Excel</button>
    </div>
  </div>
  
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>No</th>
          <th>Username</th>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.role }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
