<div class="container container-custom rounded bg-white shadow-sm mt-5 mb-5" *ngIf="user">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="Profile Picture">
                <span class="fw-bold">{{ user.nama }}</span>
                <span class="text-black-50">{{ user.no_wa_aktif }}</span> <!-- Diganti email dengan no_wa_aktif -->
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-end">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <label class="form-label">Nama Lengkap</label>
                        <input type="text" class="form-control" [(ngModel)]="user.nama" placeholder="Nama Lengkap">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="form-label">Tempat Lahir</label>
                        <input type="text" class="form-control" [(ngModel)]="user.tempat_lahir" placeholder="Masukkan Tempat Lahir">
                    </div>
                    <div class="col-md-12 mt-2">
                        <label class="form-label">Tanggal Lahir</label>
                        <input type="date" class="form-control" [(ngModel)]="user.tanggal_lahir" placeholder="Masukkan Tanggal Lahir">
                    </div>
                    <div class="col-md-12 mt-2">
                        <label class="form-label">NIK</label>
                        <input type="text" class="form-control" [(ngModel)]="user.nik" placeholder="Masukkan NIK">
                    </div>
                    <div class="col-md-12 mt-2">
                        <label class="form-label">Usia</label>
                        <input type="number" class="form-control" [(ngModel)]="user.usia" placeholder="Masukkan Usia">
                    </div>
                    <div class="col-md-12 mt-2">
                        <label class="form-label">Jenis Kelamin</label>
                        <input type="text" class="form-control" [(ngModel)]="user.jenis_kelamin" placeholder="Pria/Wanita">
                    </div>
                    <div class="col-md-12 mt-2">
                        <label class="form-label">Status</label>
                        <input type="text" class="form-control" [(ngModel)]="user.status" placeholder="Masukkan Status Sesuai KTP">
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="button">Save Profile</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="col-md-12 mt-2">
                    <label class="form-label">Alamat</label>
                    <input type="text" class="form-control" [(ngModel)]="user.alamat_rumah" placeholder="Masukkan Alamat Sesuai KTP">
                </div>
                <div class="col-md-12 mt-2">
                    <label class="form-label">Asal Sekolah/Instansi</label>
                    <input type="text" class="form-control" [(ngModel)]="user.asal_sekolah_instansi" placeholder="Masukkan Asal Sekolah/Instansi">
                </div>
                <div class="col-md-12 mt-2">
                    <label class="form-label">No. Whatsapp</label>
                    <input type="text" class="form-control" [(ngModel)]="user.no_wa_aktif" placeholder="Masukkan No. Whatsapp">
                </div>
                <div class="col-md-12 mt-2">
                    <label class="form-label">No Telp Orang Tua</label>
                    <input type="text" class="form-control" [(ngModel)]="user.no_telepon_orang_tua" placeholder="Masukkan No Telp Orang Tua">
                </div>
                <div class="col-md-12 mt-2">
                    <label class="form-label">Jalur Pendaftaran</label>
                    <input type="text" class="form-control" [(ngModel)]="user.jalur_pendaftaran" placeholder="Masukkan Jalur Pendaftaran">
                </div>
                <div class="col-md-12 mt-2">
                    <label class="form-label">Jenis Diklat</label>
                    <input type="text" class="form-control" [(ngModel)]="user.jenis_diklat[0]" placeholder="Masukkan Jenis Diklat"> <!-- Tampilkan nilai pertama dari array -->
                </div>
                <div class="col-md-12 mt-2">
                    <label class="form-label">Sumber Informasi</label>
                    <input type="text" class="form-control" [(ngModel)]="user.tau_diklat_dari" placeholder="Masukkan Sumber Informasi">
                </div>
            </div>
        </div>
    </div>
</div>
