<section class="vh-100" style="background-color: #BA181B;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem; max-width: 700px; margin: auto;">
          <div class="row g-0">
            <div class="col-12 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <h1 class="fw-bold mb-3 pb-3 text-center" style="letter-spacing: 1px;">Pendaftaran Diklat</h1>

                <form [formGroup]="isLoginView ? loginForm : registerForm">
                  <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">{{ isLoginView ? 'Masuk' : 'Daftar' }}</h3>

                  <!-- Login Form -->
                  <div *ngIf="isLoginView">
                    <div class="form-outline mb-4">
                      <label class="form-label" for="identifier">Username</label>
                      <input formControlName="identifier" type="text" id="identifier" class="form-control form-control-lg" required/>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="password">Password</label>
                      <input formControlName="password" type="password" id="password" class="form-control form-control-lg" required/>
                    </div>
                    <div class="pt-1 mb-4">
                      <button (click)="onLogin()" class="btn btn-dark btn-lg btn-block btn-red" type="button">Masuk</button>
                    </div>
                    <!-- Lupa password dan belum punya akun -->
                    <div class="d-flex justify-content-between mb-5 pb-lg-2">
                      <p>Belum memiliki akun? 
                        <a href="javascript:void(0);" (click)="isLoginView=false">Daftar disini</a>
                      </p>
                      <p>
                        <a href="javascript:void(0);" (click)="onForgotPassword()">Lupa Password?</a>
                      </p>
                    </div>
                  </div>

                  <!-- Registration Form -->
                  <div *ngIf="!isLoginView">
                    <div class="form-outline mb-4">
                      <label class="form-label" for="email">Email address</label>
                      <input formControlName="email" type="email" id="email" class="form-control form-control-lg" required/>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="first_name">Nama Depan</label>
                      <input formControlName="first_name" type="text" id="first_name" class="form-control form-control-lg" required/>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="last_name">Nama Belakang</label>
                      <input formControlName="last_name" type="text" id="last_name" class="form-control form-control-lg" required/>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="username">Username</label>
                      <input formControlName="username" type="text" id="username" class="form-control form-control-lg" required/>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="password">Password</label>
                      <input formControlName="password" type="password" id="password" class="form-control form-control-lg" required/>
                      <div *ngIf="registerForm.get('password')?.touched && !passwordPattern.test(registerForm.get('password')?.value)" class="text-danger mt-1">
                        <span class="small-text">Password harus memiliki setidaknya 8 karakter, 1 huruf besar, 1 huruf kecil, 1 angka, dan 1 simbol.</span>
                      </div>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="confPassword">Konfirmasi Password</label>
                      <input formControlName="confPassword" type="password" id="confPassword" class="form-control form-control-lg" required/>
                      <div *ngIf="registerForm.errors?.['passwordMismatch'] && registerForm.get('confPassword')?.touched" class="text-danger mt-1">
                        <span class="small-text">Password dan konfirmasi password tidak cocok.</span>
                      </div>
                    </div>
                    <div class="pt-1 mb-4">
                      <button (click)="onRegister()" class="btn btn-dark btn-lg btn-block btn-red" type="button">Daftar</button>
                    </div>
                    <p class="mb-5 pb-lg-2">Sudah memiliki akun? <a href="javascript:void(0);" (click)="isLoginView = true">Login disini</a></p>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
