<section class="vh-100" style="background-color: #BA181B;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem; max-width: 700px; margin: auto;">
          <div class="row g-0">
            
            <div class="col-md-6 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <h2>Selamat Datang, {{ username }}!</h2>

                <p *ngIf="isRegistered; else notRegistered">Anda telah melakukan register.</p>
                <ng-template #notRegistered>
                  <p>Anda belum melakukan register.</p>
                </ng-template>
              </div>
            </div>

            <div class="col-md-6 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black d-flex justify-content-end">
                <button class="btn btn-primary" (click)="navigateBasedOnRegistration()">
                  {{ isRegistered ? 'Lihat Data' : 'Register' }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>