<nav class="navbar navbar-expand-sm bg-light navbar-light" *ngIf="isLogin">
  <div class="container-fluid">
    <a class="navbar-brand text-dark">Selamat Datang!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link fw-bold" (click)="navigateToAccount()">List Akun</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" (click)="navigateToRegister()">List Daftar Diklat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" (click)="navigateToUserAccount()">Profil</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-md logout-btn" (click)="logout()">Log Out</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
